body {
    background-color: oldlace;
}
.accordion .accordion-navigation > .content.active {
    background-color: #ece4d5;
}

.accordion .accordion-navigation.active > a {
    background-color: #e2dacb;
}

.accordion .accordion-navigation.active > a:hover {
    background-color: #e6decf;
}

.accordion .accordion-navigation > a {
    background-color: #e5ddce;
}

.accordion .accordion-navigation > a:hover {
    background-color: #ece4d5;
}

.tabs .tab-title.active a {
    background-color: #cbc3b4;
}

.tabs .tab-title > a {
    background-color: #d2cabb;
}

.tabs .tab-title > a:hover {
    background-color: #ddd5c6;
}
