/* https://colorcodes.io/gray/gainsboro-gray-color-codes/ */
body {
    background-color: #DADADA;
}
.accordion .accordion-navigation > .content.active {
    background-color: #E6E6E6;
}

.accordion .accordion-navigation.active > a {
    background-color: #BFBFBF;
}

.accordion .accordion-navigation.active > a:hover {
    background-color: #999999;
}

.accordion .accordion-navigation > a {
    background-color: #BFBFBF;
}

.accordion .accordion-navigation > a:hover {
    background-color: #999999;
}

.tabs .tab-title.active a {
    background-color: #E6E6E6;
}

.tabs .tab-title > a {
    background-color: #BFBFBF;
}

.tabs .tab-title > a:hover {
    background-color: #BFBFBF;
}
