---
layout: default
---

<div class="row" style="padding-top: 10px;">

    <div class="columns large-3 medium-4 small-6 text-center">
        <img style="padding: 5px;" src="img/dhiller_lands_end_sfo.jpeg" title="Daniel Hiller"/>
    </div>

    <div class="columns large-9 medium-8 small-12">

        <div class="row">
            <div class="columns">
                <h1>Daniel Hiller</h1>
                <h5 class="subheader">Geek, programmer, father</h5>

                I create software to enable people getting stuff done. I optimize workflows and processes.<br/>
                Qualified IT specialist software development (IHK certified)<br/>
                <br/>

            </div>
        </div>

    </div>

</div>

<div class="row" style="padding-top: 10px;">
    <div class="columns small-8">
        <h3>History</h3>
        <ul class="accordion" data-accordion>

            {% assign jobs = (site.jobs | sort: 'date') | reverse %}
            {% for job in jobs %}

            <li class="accordion-navigation">
                <a href="#{{ job.anchor }}">
                    <div class="row">
                        <div class="columns small-12 medium-4 large-4">
                            {{ job.from }} - {{ job.till }}
                        </div>
                        <div class="columns small-12 medium-8 large-8">
                            {{ job.title }}, {{ job.location }}
                        </div>
                    </div>
                </a>
                <div id="{{ job.anchor }}" class="content">
                    {{ job.content }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="columns small-4">
        <h3>Recent posts</h3>
        <hr/>
        {% for post in site.posts limit:3 %}
        <div class="row">
            <div class="columns small-12 medium-12 large-12">
                <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
                {{ post.excerpt }} <a href="{{site.baseurl}}{{ post.url }}">...more...</a>
            </div>
        </div>
        <hr/>
        {% endfor %}
    </div>
</div>
