---
layout: default
---

<div class="row">
    <div class="columns">
        <h1>Blog posts</h1>
    </div>
</div>
<div class="row">
    <div class="columns">
        {% assign sorted = (site.posts | sort: 'date') | reverse %}
        {% for post in sorted %}
        <div class="row">
            <div class="columns">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }}: {{ post.title }}</a></h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="columns">
                {% for tag in post.tags %}<span class="label label-default">{{ tag| escape }}</span>&nbsp;{% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="columns">
                {{ post.excerpt }} <a href="{{site.baseurl}}{{ post.url }}">...more...</i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
