---
layout: default
---

<div class="row">
    <div class="columns">
        <h1>Articles and presentations</h1>
        <hr/>
    </div>
</div>

{% assign sorted = (site.articles | sort: 'date') | reverse %}
{% for article in sorted %}
<div class="row">
    <div class="columns large-2">
        {{ article.date | date: "%Y-%m-%d" }}
    </div>
    <div class="columns large-7">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ article.content }}">
            <b>{{ article.title }}</b>
        </span>
    </div>
    <div class="columns large-3">
        {{ article.location }}
    </div>
</div>
<div class="row">
    <div class="columns show-for-large-up large-2">&nbsp;</div>
    <div class="columns large-1">
        {% if article.view != nil %}
        <a title="View" href="{{ article.view }}"><i class="fa fa-file-movie-o"></i></a>
        {% endif %}
        {% if article.download != nil %}
        <a title="Download" href="{{ article.download }}"><i class="fa fa-cloud-download"></i></a>
        {% endif %}
    </div>
    <div class="columns show-for-large-up large-9">&nbsp;</div>
    <div class="columns hide-for-large-up"><hr/></div>
</div>
{% endfor %}

{% include discussion.html %}
