<div class="row" style="padding-top: 10px;">

    <div class="columns large-9 medium-8">

        <div class="row">
            <div class="columns">
                <h1>Daniel Hiller</h1>
                Software engineer greybeard with a history of 20+ years transforming ☕ into useful stuff for others.

            </div>
        </div>

    </div>

    <div class="columns large-3 medium-4 small-6 text-center">
        <div class="oval-image text-center" title="Daniel Hiller"></div>
    </div>

</div>
