<div class="row" style="padding-top: 10px;">

    <div class="columns large-9 medium-8">

        <div class="row">
            <div class="columns">
                <h1>Daniel Hiller</h1>
                <h5 class="subheader">Geek, programmer, father</h5>

                {% include about_motto.html %}

            </div>
        </div>

    </div>

    <div class="columns large-3 medium-4 small-6 text-center">
        <img style="padding: 5px;" src="/img/dhiller_containerdays_2022.jpg" title="Daniel Hiller"/>
    </div>

</div>
