<div class="row" style="padding-top: 1em">
    <div class="columns">
        <div id="disqus_thread">
            <div class="row">
                <div class="columns text-center">
                    <button class="show-comments" data-disqus-url="{{ site.url }}{{ page.url }}" onclick="javascript:disqus_show();">Show Comments</button>
                </div>
            </div>
        </div>

        <script>
        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.path }}';
        };

        function disqus_show() {
            var d = document, s = d.createElement('script');
            s.src = 'https://dhiller-de.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        };
        </script>

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
</div>
