
<div class="icon-bar seven-up">
    <a class="item" href="{{ site.url }}/index.html" title="Read my blog">
        <i class="fa fa-home fa-2x"></i>
        <label class="show-for-medium-up">Home</label>
    </a>
    <a class="item" href="https://github.com/dhiller/" title="View my Github repositories">
        <i class="fa fa-github fa-2x"></i>
        <label class="show-for-medium-up">Github</label>
    </a>
    <a class="item" href="https://bitbucket.org/dhiller" title="View my public Bitbucket repositories">
        <i class="fa fa-bitbucket fa-2x"></i>
        <label class="show-for-medium-up">Bitbucket</label>
    </a>
    <a class="item" href="http://twitter.com/dhill3r" title="Tweet me at @dhill3r">
        <i class="fa fa-twitter fa-2x"></i>
        <label class="show-for-medium-up">@dhill3r</label>
    </a>
    <a class="item" href="https://www.xing.com/profiles/Daniel_Hiller11" title="Contact me on Xing">
        <i class="fa fa-xing fa-2x"></i>
        <label class="show-for-medium-up">Xing</label>
    </a>
    <a class="item" href="https://www.linkedin.com/in/daniel-hiller-4a40b348" title="Contact me on LinkedIn">
        <i class="fa fa-linkedin fa-2x"></i>
        <label class="show-for-medium-up">LinkedIn</label>
    </a>
    <a class="item" href="{{ site.url }}/post.html" title="Read my blog">
        <i class="fa fa-newspaper-o fa-2x"></i>
        <label class="show-for-medium-up">Blog</label>
    </a>
</div>
