<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>dhiller.de | Homepage of Daniel Hiller</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="plugins/font-awesome-4.4.0/css/font-awesome.css"/>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<div class="icon-bar five-up">
    <a class="item" href="https://github.com/dhiller/" title="View my Github repositories">
        <i class="fa fa-github fa-2x"></i>
        <label>Github</label>
    </a>
    <a class="item" href="https://bitbucket.org/dhiller" title="View my public Bitbucket repositories">
        <i class="fa fa-bitbucket fa-2x"></i>
        <label>Bitbucket</label>
    </a>
    <a class="item" href="http://twitter.com/dhill3r" title="Tweet me at @dhill3r">
        <i class="fa fa-twitter fa-2x"></i>
        <label>@dhill3r</label>
    </a>
    <a class="item" href="https://www.xing.com/profiles/Daniel_Hiller11" title="Contact me on Xing">
        <i class="fa fa-xing fa-2x"></i>
        <label>Xing</label>
    </a>
    <a class="item" href="http://dhillersjavanotes.blogspot.de/" title="Read my blog">
        <i class="fa fa-newspaper-o fa-2x"></i>
        <label>Blog</label>
    </a>
</div>

{{ content }}

<nav class="bottom"></nav>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>